.page-header {
    border-bottom: 1px solid;
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
}

.page-header-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1em;
}

.page-header-menu-item {
    font-size: smaller;
    padding: 0 1em;
    text-transform: uppercase;
}

.page-header-menu-item {
    text-decoration: none;
}

.page-header-menu-item:hover {
    text-decoration: underline;
}

.page-header-title {
    padding-bottom: 0;
    text-align: center;
}
