.job-header {
  display: flex;
  flex-direction: row;
  font-size: larger;
  font-weight: bolder;
  justify-content: space-between;
  padding: 0.5em 0;
}

.job-header-element {
  padding: 0;
}

.job-title {
  font-weight: bolder;
}

.job-dates {
  text-align: right;
}

.job-details {
  display: flex;
  flex-direction: row;
  padding: 0.5em 0.5em 0;
}

.job-accomplishments {
  flex-direction: column;
  flex-basis: 75%;
}

.job-skills {
  flex-basis: 25%;
  flex-direction: column;
  flex-grow: 2;
  font-size: smaller;
  text-align: right;
}

.job-skill {
  padding-bottom: 0.5em;
}

.job-skill-version {
  font-style: italic;
}
