.content-main {
    display: flex;
    flex-direction: column;
}

.flexbox-break {
    flex-basis: 100%;
    height: 0;
}

.job {
    margin: auto;
    max-width: 800px;
    padding: 1em 0;
    width: 100%;
}

.job-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: larger;
    justify-content: space-between;
}

.job-header-element {
    font-weight: bolder;
    padding: 0;
}

.job-title {
    font-weight: bolder;
}

.job-dates {
    text-align: right;
}

.job-details {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-evenly;
}

.job-accomplishments {
    flex-direction: column;
    flex-grow: 3;
    padding-top: 0.5em;
}

.job-systems,
.job-technologies {
    column-gap: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.job-systems-header,
.job-system,
.job-technologies-header,
.job-technology {
    padding: 0;
}

.job-systems-header,
.job-technologies-header {
    font-weight: bolder;
}

.job-technology-version {
    font-style: italic;
}
