.job-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: larger;
    justify-content: space-between;
    padding: 0.5em 0;
}

.job-header-element {
    font-weight: bolder;
    padding: 0;
}

.job-title {
    font-weight: bolder;
}

.flexbox-break {
    flex-basis: 100%;
    height: 0;
}

.job-dates {
    text-align: right;
}

.job-details {
    display: flex;
    flex-direction: row;
    padding: 0.5em 0.5em 0;
}

.job-accomplishments {
    flex-direction: column;
    flex-basis: 75%;
}

.job-skills {
    flex-basis: 25%;
    flex-direction: column;
    flex-grow: 2;
    font-size: smaller;
    text-align: right;
}

.job-skills-header {
    display: none;
}

.job-skill {
    padding-bottom: 0.5em;
}

.job-skill-version {
    font-style: italic;
}
